body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: black;

    display: flex;
    justify-content: center;
}

.main_container {
    width: 60%;
    background-color: rgb(42, 42, 42);

    display: flex;
    flex-flow: row wrap;
}

.section1 {
    width: 100%;
    padding: 25px;

    display: flex;
    flex-wrap: wrap;
}

.card1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: calc(50% - 50px);
    height: 150px;

    padding-left: 50px;
}

.card1 h1 {
    color: white;
    margin-bottom: 0;

    flex-grow: stretch;
}

.card1 h4 {
    margin: 0;
    padding-top: 5px;
    color: rgb(31, 148, 159);
}

.card1 img {
    width: 100px;
    height: 150px;
}

.card2 {
    height: 150px;
    width: calc(40%);
    display: flex;
}

.card2 ul {
    list-style-type: none;
}

.card2>ul:last-child {
    text-align: left;
}

.card2 ul li {
    padding-bottom: 4px;
}

.list-white {
    color: white;
    text-align: right;
}

.card3,
.list-grey,
p,
h6 {
    color: rgb(106, 106, 106);
}

.card3 {
    padding: 15px 30px;
}

/*SECTION2 */

.section2 {
    width: 62%;
    padding: 30px;
}

.employment,
.education {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgb(67, 66, 66);
    height: 50px;
}

.header img {
    background-color: rgb(31, 148, 159);
    width: 40px;
    height: 50px;
}

.education .header img {
    background-color: rgb(25, 130, 67);
}

.header h3 {
    margin: 10px 0;
    color: white;
    padding: 4px;
    font-size: 1.5em;
}

.title {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 10px;
}

.title h3,
.title h6 {
    margin: 0;
    font-size: 1.5rem;
}

.title h3 {
    width: 50%;
    color: white;
}

.title h3.date {
    color: rgb(106, 106, 106);
    font-weight: 300;
    text-align: right;
}

.title h6 {
    font-size: 1rem;
}

/* SECTION#*/

.section3 {
    width: 30%;
    padding-left: 15px;
}

.section3 h3 {
    font-size: 1.2em;
    color: white;
}

.skills-box1 p {
    margin: 20px 0 2px 0;
    font-size: 1em;
    font-weight: 600;
}

.skills-box1 div {
    color: white;
}

.grey-rectangle {
    background-color: rgb(67, 66, 66);
    height: 30px;
    width: 90%;
}

.color-90,
.color-80,
.color-93,
.color-80-yellow,
.color-70 {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}

.color-90 {
    background-color: rgb(0, 98, 255);
    width: 90%;
}

.color-80 {
    background-color: rgb(4, 131, 221);
    width: 80%;
}

.color-93 {
    background-color: green;
    width: 93%;
}

.color-80-yellow {
    background-color: rgb(161, 169, 79);
    width: 70%;
}

.color-70 {
    background-color: rgb(225, 117, 35);
    width: 70%;
}

.skills-box2 ul {
    list-style-type: square;
    color: rgb(106, 106, 106);
    font-size: 1.2rem;
}

.skills-box2 ul li::marker {
    font-size: 1.8rem;
}

.skills-box2 ul li:nth-child(1)::marker {
    color: rgb(4, 131, 221);
}

.skills-box2 ul li:nth-child(2)::marker {
    color: rgb(4, 131, 221);
}

.skills-box2 ul li:nth-child(3)::marker {
    color: green;
}

.skills-box2 ul li:nth-child(4)::marker {
    color: rgb(161, 169, 79);
}

.skills-box2 ul li:nth-child(5)::marker {
    color: rgb(225, 117, 35);
}

.pol,
.eng {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2px;
}

.pol p,
.eng p {
    font-size: 1.2rem;
    padding-right: 10px;
}

.pol p {
    padding-right: 22px;
}

.circle {
    border-radius: 50%;
    background-color: rgb(67, 66, 66);
    width: 30px;
    height: 30px;
}

.pol .color {
    background-color: rgb(16, 95, 95);
}

.eng .color {
    background-color: green;
}

@media only screen and (max-width: 699px) {

    .main_container {
        align-items: center;
        justify-content: center;
    }

    .section1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .card1 img {
        padding-left: 10px;
    }

    .card2 {
        padding-right: 0px;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .card2 ul {
        padding-left: 12px;
    }

    .card3 {
        padding: 15px 25px;
        text-align: justify;
    }

    .section2 {
        width: 90%;
    }

    .section3 {
        width: 90%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1224px) {

    .card1 {
        padding-left: 0;
        width: 100%;
        justify-content: center;
    }

    .card2 {
        width: 100%;
        justify-content: center;
        padding-right: 50px;
    }

    .card3 {
        padding: 15px 45px;
        text-align: justify;
    }

    .section2 {
        width: 100%;
    }

    .section3 {
        width: 100%;
        padding-left: 30px;
    }

}

@media only screen and (min-width: 1225px) and (max-width: 1556px) {
    .section3 {
        padding: 0;
    }
}